@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=PT+Serif&display=swap');

// sizes

$navbarSize: 70px;

// fonts 

$ivypresto: ivypresto-display, serif;
$inconsolata: 'Inconsolata', monospace;
$PTMono: pt-mono, monospace;
$PTSerif: 'PT Serif', serif;


// color
$darkBackground: #151B23;
$hoverColor_dark: rgb(113, 158, 128);